@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/css/class.css" />
}

@section scripts {
    <script src="~/js/class.js"></script>
}

<div id="form-container">
    @await Html.PartialAsync("~/Views/Class/NewClass.cshtml")
    @await Html.PartialAsync("~/Views/Class/EditClass.cshtml")
</div>
