@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/css/professor.css" />
}

@section scripts {
    <script src="~/js/professor.js"></script>
}

<div id="form-container">
    @await Html.PartialAsync("~/Views/Class/NewClass.cshtml")
</div>
